.picker-container {
  position: relative;
}

.picker-container button {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border-style: none;
  margin: 0 1rem;
}

.picker {
  position: absolute;
  bottom: 100%;
  left: 70%;
}
