.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.firstToLastColourCircle {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
