.App {
  text-align: center;
  min-height: 100vh;
}

.endColourCircle {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -4.5rem 0 0 -3.5rem;
}
